<% if @group.present? %>
  <table class="table table-striped">
    <h3>Group Details</h3>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @group.name %></td>
        <td><%= @group.status %></td>
        <td><%= link_to 'Edit', edit_group_path(@group) %></td>
      </tr>
    </tbody>
  </table>


  <div class="col-lg-12 pull-left">
    <%= link_to 'New Contact', new_contact_path %>
  </div>





  <table class="table table-striped">
    <h3>Contact Details</h3>
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td><%= @group.name %></td>
      <td><%= @group.status %></td>
      <td><%= link_to 'Edit', edit_group_path(@group) %></td>
    </tr>
  </tbody>
  </table>

<% else %>
  <h3>No Data Found</h3>
<% end %>
